@page "/loanapproval"
@implements IDisposable
@using DurableLoans.LoanOffice.ToBeApproved
@inject DurableLoans.Web.Services.FeedClientService FeedClientService

<h3>Loan Approval</h3>

<table class="table" style="width: 800px;">
    <thead>
        <tr>
            <td style="width: 200px;"></td>
            <th style="width: 500px;">Customer Name</th>
            <th style="width: 100px;">Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var received in results)
        {
        <tr>
            <td style="width: 200px;">
                <buton class="btn btn-success">Approve</buton>
                <buton class="btn btn-danger">Decline</buton>
            </td>
            <td style="width: 500px;">@received.CustomerName</td>
            <td style="width: 100px;">@received.LoanAmount</td>
        </tr>
        }
    </tbody>
</table>

@code
{
    CancellationTokenSource loanAppStreamCts = new CancellationTokenSource();
    List<FeedItem> results = new List<FeedItem>();

    void IDisposable.Dispose()
    {
        loanAppStreamCts.Cancel();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _ = Receive();
        }
    }

    async Task Receive()
    {
        await foreach (var loanResult in FeedClientService.Receive(loanAppStreamCts.Token))
        {
            if(!(results.Any(x => x.CustomerName == loanResult.CustomerName
                && x.LoanAmount == loanResult.LoanAmount)))
            {
                results.Add(loanResult);
            }

            StateHasChanged();
        }
    }
}
